a {    
       text-decoration: none;
       color: inherit;
}
a:visited {
        //color: black !important;
 
}
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
        margin:0;
        padding:0;
        border-width:0;
}
body {
        -epub-hyphens:auto;
        font-family: Courier;
        font-size: 12px;
        padding-left: 100px;
}

body, html {
  height: 100%;
}

div.main {
        display: block;
        width: 100%;
}

div.main ol {
        display: inline-block;
        width: 35%;
}

div.main  div.merge-panel {
        display: inline-block;
        vertical-align: top;
        min-width: 45%;
        border-left: 1px solid #DDD;
        height: 100%;
}

div.main  div.merge-panel p.merge-link {
        font-size: 14px;
        cursor: pointer;
        text-align: right;
        margin-right: 5px;
}

div.main  div.merge-panel div.container {
        display: none;
        padding: 20px;
        background-color: #EEE;
        border-radius: 6px;
        margin-top: 5px;
        margin-left: 30px;
        min-height: 600px; 
}

div.main  div.merge-panel div.container ul.merge-ul {
       padding: 0;
       margin: 0;
}

div.main  div.merge-panel div.container li.merge-item {
        padding: 10px;
        cursor: pointer;
        max-width: 95%;
        border-radius: 4px;
        text-decoration: none;
        background-color: #717171; 
        color: white;
        list-style: none;
        min-height: 30px;
        cursor: normal;
}

div.main  div.merge-panel div.container li.merge-item div.merge-item-div {
        display: block;
}

div.main  div.merge-panel div.container li.merge-item div.merge-item-div label.expander {
        display: inline-block;
        float: left;
        font-size: 16px;
        cursor: pointer;
}
div.main  div.merge-panel div.container li.merge-item div.merge-item-div p.name {
        display: inline-block;
        float: left;
        color: white;
        width: 70%;
        word-wrap: break-word;
        margin-left: 10px;
        cursor: normal;
}
div.main  div.merge-panel div.container li.merge-item div.merge-item-div label.delete {
        display: inline-block;
        float: right;
        cursor: pointer;
        font-size: 16px;
}

div.main  div.merge-panel div.container li.merge-item ul.merge-cols {
        list-style: none;
        display: inline-block;
        width: 95%;
        margin: 10px;
        border-radius: 4px;
}

div.main  div.merge-panel div.container li.merge-item ul.merge-cols li.col-item {
        margin: 5px;
        padding-top: 3px;
        background-color: #f1f1f1;
}

div.main  div.merge-panel div.container li.merge-item ul.merge-cols li input {
        display: inline-block;
        vertical-align: top;
}
div.main  div.merge-panel div.container li.merge-item ul.merge-cols li p {
        display: inline-block;
        word-wrap: break-word;
        width: 90%;
        color: black;
}

div.main  div.merge-panel p.submit {
        display: none;
        background-color: #FF6565;
        font-size: 18px;
        color: white;
        padding: 10px 20px 10px 20px;
        border-radius: 4px;
        width: 50%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        cursor: pointer;
}

div.main  div.merge-panel p.submit:hover {
        background-color: #F54848;
}

.merge-drag {
        background-color: #FFE6E6 !important;
}

div.main  div.merge-panel div.container p.helper {
        text-align: center;
        margin-top: 55%;
        font-family: Verdana;
        color: #AAA;
        font-style: italic;
        font-size: 16px;
}

div.main  div.merge-panel div.container ul {
        padding: 0;
}

p.title {
        font-size: 26px;
        font-family: Verdana;
        color: #A97636;
        color: red;
        margin-top: 40px;        
}

p.description {
        font-size: 18px;
        margin-top: 20px;        
}

p.description.archived {
        cursor:pointer;
}

p.description.archived + ol {
        display: none;
        margin-bottom: 40px;
}

div.main li {
        padding: 10px;
        margin: 10px;
        cursor: pointer;
        max-width: 95%;
        border-radius: 4px;
}

div.main li a {
        font-size: 12px;
}

div.main li p {
        color: #aaa;
}

div.main li a:hover {
        text-decoration: underline;
}

.load-modal {
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                //url('/static/FhHRx.gif')
                url('http://i.stack.imgur.com/FhHRx.gif')
                50% 50%
                no-repeat;
}

/* When the body has the loading class, we turn
 *    the scrollbar off with overflow:hidden */
document.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
 *    modal element will be visible */
document.loading .load-modal {
    display: block;
}


//.draggable { width: 100px; height: 100px; padding: 0.5em; float: left; margin: 10px 10px 10px 0; }
//.droppable { width: 150px; height: 150px; padding: 0.5em; float: left; margin: 10px; }
