body {
	margin: 0;
}
.title {
	display: inline-block;
	margin-top: 30px;
    font-size: 18px;
    color: #555555;
    font-family:"Lucida Sans Unicode";
}

.testcase-tab {
	margin-bottom: 20px;
	padding: 5px;
	background-color: #FFFFFF;
}
.field-header-td {
	vertical-align: top;
	text-align: right;
	white-space: nowrap;
	background-color: #E0ECF3;
	color: #252F5E;
	font-size: 16px;
	font-family:"Courier New";
    border-radius: 8px 0px 0px 8px;
}
.field-header {
	text-align: right;
	white-space: nowrap;
	margin-left: 1%;
	margin-right: 1%;
}
.field-value-td {
	border: solid 1px #EEEEEE;
	background-color: #F7F7F2;
}
.field-value {
	cursor: default;
	overflow-y: auto;
	border: none;
	width: 500px;
	background-color: inherit;
	font-size: 14px;
}
.field-value-td > span {
	font-size: 14px;
    font-family:"Lucida Sans Unicode";
	padding-left: 5px;
}

.field-value-td > label {
	font-size: 12px;
    font-family:"Lucida Sans Unicode";
	color: #006699;
}

#setuptime span, #runtime span {
	font-size: 14px;
    font-family:"Lucida Sans Unicode";
	padding-left: 5px;
}
.edit {
	border: solid 1px #668888;
	background-color: #FFFFFF;
}
#save, #fork {
    border: 2px solid #AAAAAA;
    border-radius: 6px;
    font-size: 14px;
    margin-top: 4px;
    margin-left: 8px;
    margin-bottom: 4px;
    background-color: #EFF2F2;
    cursor: pointer;
}
#discard {
    border: 2px solid #AAAAAA;
    border-radius: 6px;
    font-size: 14px;
    margin-top: 4px;
    margin-left: 2px;
    margin-bottom: 4px;
    background-color: #EFF2F2;
    cursor: pointer;
}
#save:active, #fork:active {
    border: 2px solid #AAAAAA;
    background-color: #C2C8C8;
}
#discard:active {
    border: 2px solid #AAAAAA;
    background-color: #C2C8C8;
}
.status-bar {
    display: inline-block;
    width: 100%;
	float: bottom;
    font-family: calibri;
    font-size: 14px;
    font-style: italic;
    color: #666666;
	margin-top: 5px;
	width: 100%;
	height: 20px;
}

.modified-bar {
	display: inline-block;
	width: 100%;
	top: 0;
	position: fixed;
	height: 30px;
	background-color: yellow;
    font-family: calibri;
    font-size: 16px;
    color: #666666;
	border-bottom: 1px solid #CCCCCC;
}

