/* login */
.login-menu {
    -moz-box-shadow:    1px 3px 2px 1px #E4EFF2;
    -webkit-box-shadow: 1px 3px 2px 1px #E4EFF2;
    box-shadow:         1px 3px 5px 0px #1B7EE0;
    margin-top: 30px;
}   
.login-menu .ui-dialog-titlebar {
    display: none;
}   
.ui-widget-content.login-menu {
    border: 2px solid #7091B3;
    border-radius: 0 0 0 16px;
}
.login-div {
    float: right;
}   
.login-panel {
}   
.login-panel input {
	float: right;
    width: 95%;
    margin-top: 15px;
    margin-right: 5px;
}   
.login-panel span {
    display: inline-block;
float: right;
    margin-right: 15px;
    margin-top: 5px;
    font-size: 14px;
	color: #CCCCCC;
}   
.login-panel span:hover {
	cursor: pointer;
	text-decoration: underline !important;
	color: #AAAAAA;
}

.login-panel #forgot {
	margin-left: 5px;
	float: left; !important
}

.forgot-dialog {
	border: 0;
	width: 300px;
}

.forgot-dialog .ui-dialog-titlebar {
    	display: none;
}   

.ui-widget-content.forgot-dialog {
    border: 4px solid #7091B3 ;
    border-radius: 16px;
}

.forgot-dialog span {
	font-size: 14px;
	float: left;
	margin-right: 15px;
	color: #29527A;
}

.forgot-dialog label {
	font-size: 11;
	font-style: italic;
	color: #666666;
	margin-bottom: 25px;
}

.forgot-dialog .forgot-input {
	margin-top: 10px;
	margin-bottom: 25px;
	width: 100%;
}

.forgot-dialog .forgot-submit {
}

.forgot-dialog .forgot-cancel {
}

.forgot-dialog span:hover {
	cursor: pointer;
	text-decoration: underline !important;
	color: #AAAAAA;
}

#title{
    height: 30px;
    left: 0;
    position: fixed;
    top: 0;
    background-color: #3B6380;
    width: 100%;
    color: #FFFFFF;
    //-webkit-box-shadow: 0 8px 6px -6px #281D12;
    //-moz-box-shadow: 0 0px 0px -0px #281D12;
    box-shadow: 0px 1px 3px 0px #281D12;
    z-index: 3;
}   
#title-label{
    font-size: 24px;
    font-family: sans-serif;
    width: 40%;
    position: absolute:
    text-align: center;
    margin-top: 2px;
    margin-left: 5px;
	cursor: pointer;
	float: left;
}  

#header {
    z-index: 2;
}


.login-span {
    font-family: verdana;
	font-size: 16px;
	float: right;
	color: #CCCCCC;
    text-decoration: none;
    cursor: pointer;
	margin-right: 5px;
	margin-top: 5px;
	cursor: default;
}

.login-user {
	margin-left: 3px;
	font-size: 18px;
	font-family: Courier;
	color: #D3FC05;
}

.login-user:hover {
	color: #CCCCCC;
}

.login-span > span, .login-span > a {
	font-family: verdana;
	font-size: 14px;
	color: #CCCCCC;
	margin-right: 5px;
}

.login-span > a:hover {
	text-decoration: underline !important;
	color: #AAAAAA;
}

.logout {
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
	margin-bottom: 3px;
	font-size: 15px;
	color: #999999;
}

