a {
       text-decoration: none;
       color: inherit;
}
a:visited {
        //color: black !important;
     
}
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
        margin:0;
        padding:0;
        border-width:0;
}
body {
        -epub-hyphens:auto;
        font-family: Courier;
        font-size: 12px;
}

a.home {
        margin-bottom: 20px;
        margin-left: 5px;
        font-size: 14px;
        color: #555;
}

a.home:hover {
        text-decoration: underline;
}

div.main-panel {
        display: block;
        width: 100%;
}

div.main-panel {
        display: inline-block;
        max-width: 70%; 
        float: left;
        //white-space: nowrap; 
}

div.table-panel {
        display: inline-block;
        margin-right: 40px;
}

table.perfy-table {
        margin-top: 20px;
}

table.perfy-table, td, th {
        border-top: 1px solid #DDD;
        border-right: 1px solid #DDD;
}

th {
        //max-width: 300px;
}

th.col {
        cursor: pointer;
}

th.matrix-name {
        color: #00b0b2;;
        font-size: 16px;
}

th.matrix-name label {
        color: #333;
        font-size: 12px;
}

td {
        color: #666;
}

td p {
        //width: 80px;
        //padding-left: 30px;
        cursor: pointer;
        text-align: center;
}

td.cell label {
        color: #AAA;
        margin-left: 5px;
}

td:hover {
        background-color: #F5FF29; 
}

p {
        word-wrap: break-word;
        white-space: normal;
}

.red {
        color: red !important;
}

.deltaneg {
        color: red !important;
}
 
h2, h1, h3 {
        color: #888;
        margin-bottom: 20px;
}

div.chart-panel {
        margin-top: 35px;
        margin-left: 5px;
        display: inline-block;
        vertical-align: top;
}

.box {
        width: 60px;
        height: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: auto;
        margin-right: auto;
        display: block;
}

.header-bar {
        display: block;
        width: 100%;
}
.header-bar a.home {
        display: inline-block;
        float: left;
}
.header-bar p {
        float: right;
        margin-left: 3px;
        margin-right: 5px;
}
.header-bar input.auto {
        display: inline-block;
        float: right;
}

div.system-info {
        font-size: 12px;
        padding-left: 20px;
}

div.system-info p.heading {
        margin-top: 20px;
        font-size: 18px;
        max-width: 200px;
        color: #2E86C1;
} 

div.system-info p.name {
        margin-top: 20px;
        font-size: 14px;
}

div.system-info th {
        text-align: left;
        font-size: 10px;
}

div.system-info td {
        font-size: 10px;
        max-width: 200px;
}

div.system-info td:hover {
        background-color: white;
}
