a:visited {
        //color: black !important;
}
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
        margin:0;
        padding:0;
        border-width:0;
}
body {
        -epub-hyphens:auto;
        font-family: Verdana;
        font-size: 12px;
}

table.perfy-table, th, td {
        border: 1px solid black;
}

table.perfy-table-rds-stress-1-1 {
        border-bottom: 1px solid #AAA;
        font-family: courier;
        color: #444;
        float: left;
}

table.perfy-table-rds-stress-1-1 th, table.perfy-table-rds-stress-1-1 td {
        border: none;
        border-top: 1px solid #AAA;
        border-right: 1px solid #AAA;
}

table.perfy-table-rds-stress-1-1 th {
        vertical-align: middle;
}

table.perfy-table-rds-stress-1-1 th p {
        word-break: break-word;
        max-width: 150px;
        padding-right: 5px;
        margin-left: auto;
        margin-right: auto;
        text-align: right;
}

table.perfy-table-rds-stress-1-1 th p.heading {
        word-break: none;
        max-width: none;
        text-align: center;
}

th {
        cursor: pointer;
}

.stall, .stall a {
   color: #FF6600 !important;
}

.send_error {
   background-color: #FFECD2 !important;
}

table.perfy-table-rds-stress-1-1 tr:hover {
  background-color: #dce6d8;
}

.rds-data a {
  color: #283a9b;
  text-align: right;
  min-width: 100px;
  display: inline-block;
}

.rds-data p {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  color: #AAA;
  font-size: 10px;
}

.delta {
        color: #999 !important;
}

.deltapos {
        color: #199302 !important;
        font-weight: bold;
}

.deltaneg {
        color: red !important;
}

.histogram {
  font-family:Arial, Helvetica, sans-serif;
  background-color:#f6f3d6;
  border-radius:10px;
  border:1px solid #999;
  padding:10px;
  margin-left: -70px;
  min-width: 500px;
}

.histogram-dialog table {
  color: #666;
}

.histogram-dialog table td, .histogram-dialog table th {
  border: none;
  border-top: 1px solid #999;
  border-right: 1px solid #999;
}

div.slider {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 600px;
  height: 20px;
  border-radius: 15px;
}

div.slider label.opt {
  display: inline-block;
  width: 90px;
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  border-right: 1px solid #DDD;
  text-align: center;
  padding-top: 3px;
  height: 17px;
  background-color: #EEE;
  cursor: pointer;
  font-family: courier;
}

div.slider label.opt:hover {
  background-color: #eee !important;
  -o-transition:.4s;
  -ms-transition:.4s;
  -moz-transition:.4s;
  -webkit-transition:.4s;
  /* ...and now for the proper property */
  transition:.4s;
}

div.slider label.opt.selected {
  background-color: #32b5e7 !important;
  border-color: #32b5e7 !important;
  color: white;
}

label.opt.first {
  border-radius: 15px 0px 0px 15px;
}

label.opt.last {
  border-radius: 0px 15px 15px 0px;
}
div.system-info {
        float: right;
        display: inline-block;
        font-size: 12px;
        width: 400px;
        margin-right: 20px;
}

div.system-info p.heading {
        margin-top: 20px;
        font-size: 18px;
        max-width: 200px;
        color: #2E86C1;
}

div.system-info p.name {
        margin-top: 20px;
        font-size: 14px;
}

div.system-info th {
        text-align: left;
        font-size: 10px;
}

div.system-info td {
        font-size: 10px;
        max-width: 300px;
        word-break: break-word;
}

div.system-info td:hover {
        background-color: white;
}

p.green {
        color: green;
}

p.sub-val {
        margin-top: -10px;
        color: #999;
        font-size: 10px;
        font-family:Verdana, sans-serif;
}
