/* Wireframe layout & panels */

body,html {
	margin: 0;
	padding: 0;
}

.bottom-panel {
	opacity: 0.0;
	width: 100%;
}

.left-div {
	display: inline-block;
	margin-top: 30px;
	width: 260px;
	min-width: 250px;
	//background-color: #F7F7F9;
	border-right: 1px solid #F0F0F0;
	overflow-y: auto;
	overflow-x: hidden;
}

.right-div {
	display: inline-block;
	width: 20px;
	min-width: 40px;
	background-color: #FFFFFF;
	//background-color: #F7F7F9;
	//border-left: 1px solid #BBBBBB;
}

.matrix-div-td {
	vertical-align: top;
	padding-top: 20px;
}

#matrix-div {
	margin-right: auto;
	margin-left: auto;
	padding-left: 20px;
	padding-right: 30px;
	float: top;
	margin-top: 5px;
}

.main {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

.upper-panel {

}

.lower-panel {

}

.product-name-panel {
    border-spacing: 0px;
    border-radius: 16px 0px 0px 0px;
    background-color: #3A75B5;
    background-color: #3D83B3;
    color: white;
    -moz-box-shadow:    1px 3px 2px 1px #ccc;
    -webkit-box-shadow: 1px 3px 2px 1px #ccc;
    box-shadow:         -2px -1px 3px 3px #ccc;
	height: 50px;
	width: 50px;
}

.column-header-panel-td {
}

.list-tree-panel-td {
    padding-top: 3px;
    vertical-align: top;
    //width: 0%;
}

.cell-table-panel-td {
    vertical-align: top;
}

.list-tree-panel {
    background-color: #F7F7F2;
    overflow: hidden;
    -moz-box-shadow:    1px 3px 2px 1px #ccc;
    -webkit-box-shadow: 1px 3px 2px 1px #ccc;
    box-shadow:         1px 2px 4px 3px #ccc;
}

.column-header-panel {
    background-color: #F7F7F2;
    overflow: hidden;
    -moz-box-shadow:    1px 3px 2px 1px #ccc;
    -webkit-box-shadow: 1px 3px 2px 1px #ccc;
    box-shadow:         2px 0px 4px 4px #ccc;
}

.cell-table-panel {
    overflow-x: auto;
    overflow-y: auto;
}

.product-label {
    display: block;
    font-size: 12px;
    font-family: verdana;
    //border-radius: 6px;
    //padding: 8%;
    text-align:center;
}

.product-label:hover {
    text-decoration: underline !important;
	cursor: pointer;
}

table {  
    border-spacing: 0px;
    height:100%;
}

/* Column Header components */

.column-header {
    border-spacing: 2px;  
}

.col-product {
    border: 1px solid #CCCCCC;
    text-align: center;
    //border-radius: 4px;
    font-family: verdana;
    font-size: 11px;
    cursor: default;
}

.col {
    border: 1px solid #CCCCCC;
    text-align: center;
    //border-radius: 4px;
    font-family: verdana;
    font-size: 11px;
    cursor: default;
}

.sub-col {
    min-width: 60px;
    max-width: 60px;
    width: 30px; 
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    text-align: center;
    //border-radius: 4px;
    font-family: verdana;
    font-size: 11px;
    padding: 2px !important;
    //white-space: nowrap;
    cursor: default;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* list-tree components */

.ul {
    margin: 0;
    padding-left: 25px;
}

.ul-main {
	min-width: 50px;
        max-width: 200px;
        resize: both;
}

.drag {
    color: white !important;
    background-color: #FFC569 !important;
}

.expander {
    display: inline-block;
    float: left;
    margin-right: 1%;
    cursor: pointer;
    color: #54A6C7;
    padding-left: 2%;
    font-family: Courier New;
    font-size: 11px;
    font-weight: bold;
    margin-top: 2px;
}

.li-parent {
    list-style: none;
    //color: #856731;
    border-left: 1px solid #CCCCCC;
}

.li-parent-label{
    height: 16px;
    display: block;
    border-bottom: 1px solid #CCCCCC;
    font-family: verdana;
    font-size: 11px;
    //background-color: #DEF3FA;
    margin-right: 2px;
	min-height: 20px;
	padding-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.li-leaf {
    height: 26px;
    list-style: none;  
    font-family: verdana;
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    padding-left: 5px;
    font-size: 11px;
    margin-right: 2px;
    //color: #41756A;
	//width: 100%;
	//min-height: 24px;
    //line-height: 24px;
    cursor: default;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.inactive {
    color: #888888;
}

a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}


a:hover {
    color: #2A5E91;
    text-decoration: underline !important;
}

/* cell-table components */

#cell-table {
    border-spacing: 2px;
}

.row {
    display: block;
    border-bottom: 1px solid #CCCCCC;
    //background-color: #FFFFFF;
}

.row-filler {
    display: block;
    border-bottom: 1px solid #DDDDDD;
    background-color: #F7F7F2 !important;
    height: 25px;
}

.cell {
    height: 16px;
    min-width: 60px;
    border: 1px solid #ffffff;
    //border-radius: 3px;
    font-family: verdana;
    width: 100%;
    //color: #777777;
    text-align: center;
    font-size: 11px;
    padding: 2px !important;
}

.pass {
	background-color: #83D466 !important; 
	background-color: #83D466;
}

.fail {
	background-color: #FF0000 !important;
	background-color: #FF0000;
}

.testing {
	background-color: #F5F553 !important;
	background-color: #F5F553;
}

.untested {
    background-color: #CAD5E0 !important;
    background-color: #CAD5E0;
}

.skipped {
    background-color: #E0F2B3 !important;
    background-color: #E0F2B3;
}

.highlight {
    background-color: #E6E6E2;
	//opacity: 0.5;
    //color: white !important;
    border-color: #B3B8C7;
} 

/* Popup Dialog components */

.popup-menu {
    -moz-box-shadow:    1px 3px 2px 1px #E4EFF2;
    -webkit-box-shadow: 1px 3px 2px 1px #E4EFF2;
    box-shadow:         1px 2px 5px 2px #688896;
    background-color:   #DDDDDD;
    width: 15% !important;
}

.popup-menu span {
    font-size: 11px;
    font-family: verdana;
    display: inline-block;
    width: 100%;
    text-decoration: none;
    margin-bottom: 2px;
    margin-right: 11px;
    padding-left: 2px;
    outline: 0;
}

.popup-menu span:hover {
    color: #FFFFFF;
    background-color: #3A7BC2;
}

/* editable */

.editable {
    outline: none !important;
    padding: 0;
    margin: 0;
    font: inherit;
    text-align: inherit;
}

/* save & discard */

.loading {
    margin-left: auto;
    margin-right: auto;
    padding-top: 9%;
    padding-bottom: 90%;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #AAAAAA;
    width: 100%;
    display: block;
    text-align: center;
}

.loading-div {
	z-index: 100;
	position: absolute;
	top: 45%;
	left: 52%;
	width: 5px;
	height: 5px;
}

.save-discard-panel {
	display: inline-block;
	width: 100%;
	//overflow: auto;
	border-bottom: 1px solid #F7F7F7;
	//background-color: #EEEEFE;
	margin-top: 11px;
}

.footer-panel {
	width: 100%;
	//overflow: auto;
	border-top: 1px solid #DDDDDD;
	margin-top: 22px;
	padding-left: 5px;
	height: 14px;
	bottom: 0;
	font-family: verdana;
	font-size: 11px;
	font-style: italic;
	color: #555555;
}

.save {
	color: #444444;
	background-color: #EEEEEE;
	margin-top: 2px;
	padding-top: 3px;
	padding-bottom: 5px;
    padding-left: 4px;
    padding-right: 4px;
	cursor: pointer;
    font-family: verdana;
	float: right;
	font-size: 12px;
	margin-right: 0;
	margin-bottom: 0;
}

.discard {
	color: #444444;
	background-color: #EEEEEE;
	margin-top: 2px;
	padding-top: 3px;
	padding-bottom: 5px;
    padding-left: 4px;
    padding-left: 4px;
    padding-right: 4px;
	border-left: 1px solid #CCCCCC;
	cursor: pointer;
    font-family: verdana;
	float: right;
	font-size: 12px;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 0;
}

.save:disabled, .discard:disabled {
	color: #CCCCCC;
	background-color: #F7F7F4;
	cursor: default;
}

.save:hover:enabled, .discard:hover:enabled {
	background-color: #CCCCCC;
    	//text-decoration: underline;
}

.status-bar-label {
	color: #DDDDDD;
	float: left;
    	font-family: verdana;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-right: 5px;
	margin-left: 5px;
	font-size: 11px;
}

.status-bar {
	height: 12px;
	color: #777777;
	float: right;
	font-style: italic;
    	font-family: "verdana";
	padding-top: 5px;
	padding-bottom: 5px;
	margin-right: 20px;
	font-size: 11px;
	margin-top: 5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: right;
	width: 50%;
}

.dirty {
    	//opacity: 0.4;
	color: #2E3B8C;
	background-color: #FFDC6B !important;
	//font-style: italic;
	//font-weight: bold;
}

.float-panel-right {
	position: fixed;
	z-index: 5;
	right: 0;
	background-color: #F7F7F4;
	overflow: auto;
    	-moz-box-shadow:    1px 3px 2px 1px #E4EFF2;
    	-webkit-box-shadow: 1px 3px 2px 1px #E4EFF2;
    	box-shadow:         -3px 2px 5px 2px #688896;
}

.float-panel-left {
	position: fixed;
	z-index: 5;
	left: 0;
	overflow: auto;
	background-color: #F7F7F4;
    	-moz-box-shadow:    1px 3px 2px 1px #E4EFF2;
    	-webkit-box-shadow: 1px 3px 2px 1px #E4EFF2;
    	box-shadow:         3px 2px 5px 2px #688896;
}

.permission-panel {
	margin-top: 5px;
	margin-bottom: 40px;
}

.permission-panel span {
	margin-left: 5px;
	float: right;
	font-size: 11px;
	font-family: arial;
	color: #BBBBBB;
	font-style: italic;
	text-align: left;
}

.user-panel {
	//border-bottom: 1px solid #EEEEEE;
	padding-left: 5px;
	padding-top: 11px;
	padding-bottom: 11px;
	width: 90%;
}

.user-panel label {
	font-size: 11px;
	font-family: verdana;
	color: #1B4785;
	margin-bottom: 5px;
}
.user-panel ul {
	margin: 0;
	padding: 0;
	margin-bottom: 11px;
}
.user-panel li {
	margin-top: 5px;
	margin-left: 20px;
	list-style: none;
	font-size: 11px;
	font-family: verdana;
	color: #666666;
}

.user-panel li:hover {
    text-decoration: underline;
	cursor: pointer;
	color: #1B4785;
}

.user-panel .del {
	display: inline-block;
	float: right;
	color: red;
	margin-right: 5px;
	font-size: 11px;
	cursor: pointer;
}

.add-member {
	font-size: 11px;
	font-family: verdana;
	color: #999999;
}

.add-member:hover {
    text-decoration: underline;
	cursor: pointer;
	color: #333333;
}

.add-member-panel {
	border-top: 1px solid #EEEEEE;
	background-color: #FFFEE6;
	width: 90%;
}

.add-member-button, .cancel-member-button {
	margin-top: 5px;
	margin-bottom: 5px;
	display: inline-block;
	padding: 3px;
	font-size: 11px;
	font-family: verdana;
	color: #1B4785;
    text-decoration: underline;
}

.add-member-button:hover, .cancel-member-button:hover {
	cursor: pointer;
	color: #1B4785;
	padding: 3px;
}

.bug-panel {
	padding-left: 5px;
	padding-top: 11px;
	padding-bottom: 11px;
	border-bottom: solid 1px #EEEEEE;
}

.bug-panel label {
	font-size: 11px;
	font-family: verdana;
	color: #1B4785;
	margin-bottom: 5px;
}

.bug-ul {
}

.bug-panel ul {
	margin: 0;
	padding-left: 0;
}

.bug-panel .bug-list {
	font-size: 11px;
	font-family: verdana;
	color: #666666;
	margin-top: 5px;
	list-style: none;
}

.bug-panel .bug-list ul{
	list-style: none;
	//max-height: 120px;
	overflow: auto;
}

.bug-item, .cr-item {
	list-style: none;
	color: #174B78;
	padding-left: 20px;
	margin-top: 2px;
	margin-bottom: 2px;
	cursor: pointer;
}

.bug-none {
	list-style: none;
	font-size: 11px;
	font-family: verdana;
	color: #AAAAAA;
	padding-left: 20px;
	margin-top: 2px;
	margin-bottom: 2px;
}

.bug-item:hover, .cr-item:hover {
    text-decoration: underline;
}

/****** Graph panels **/

.completion-panel {
	padding-top: 11px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 15px;
	border-top: 1px solid #EEEEEE;
}

.completion-panel span{
	font-size: 11px;
	//color: #7D6A4F;
	color: #1B4785;
	font-family: Verdana;
	margin-left: 5px;
}

.completion-bar {
	margin-top: 11px;
	margin-left: 5px;
	//margin-right: auto;
	border: solid 1px #AAAAAA;
	background-color: white;
	width: 95%;
	height: 20px;
	margin-bottom: 15px;
}

.completion-bar > span {
	margin-left: 0px;
	font-size: 11px;
	font-family: verdana;
	color: #333333;
}

.completion {
	display: inline-block;
	height: 100%;
	margin-bottom: 2px;
	border-right: solid 1px #AAAAAA;
	font-size: 11px;
	font-family: verdana;
	text-align: center;
	vertical-align: middle;
	color: #333333;
	background-color: #B3E4F2;
}

.completion-summary {
	//margin-right: auto;
	width: 90%;
	text-align: center;
}

.completion-summary span {
	font-size: 11px;
	color: #8A7D6B;
	margin-left: 5px;
}

.progress-graph-panel {
	margin-left: auto;
	margin-right: auto;
	height: 190px;
	padding-bottom: 11px;
	border-bottom: 1px solid #EEEEEE;
}


.progress-graph-panel span{
	font-size: 11px;
	color: #AAAAAA;
	font-family: verdana;
	margin-left: 5px;
}

.pie {
	//margin-left: 5px;
	margin-top: 11px;
	width: 100%;
	height: 70%;
}

.pie-label {
	font-family: verdana;
	color: #333333 !important;
	font-size: 9px;
	text-align:center;
}
.pie-legend-label {
	background-color: #F7F7F9;
}

.legendLabel {
	font-size: 11px;
}


.automated-graph-panel {
	margin-left: auto;
	margin-right: auto;
	padding-top: 11px;
	padding-bottom: 20px;
	border-bottom: 1px solid #EEEEEE;
}

.automated-graph-panel span{
	font-size: 11px;
	color: #1B4785;
	font-family: verdana;
	margin-left: 5px;
}

.automated-bar {
	margin-top: 11px;
	margin-left: 5px;
	border: solid 1px #AAAAAA;
	background-color: white;
	width: 95%;
	height: 20px;
}

.automated-bar > span {
	margin-left: 0px;
	font-size: 11px;
	font-family: verdana;
	color: #333333;
}

.automated-section {
	display: inline-block;
	height: 100%;
	margin-bottom: 2px;
	border-right: solid 1px #AAAAAA;
	font-size: 11px;
	font-family: verdana;
	text-align: center;
	vertical-align: middle;
	color: #333333;
}

.automated-breakdown-div {
	display: none;
}

.automated-breakdown-label {
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 11px;
	font-family: verdana;
	color: #999999;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	text-align: center;
}

.automated-breakdown {
	margin-left: 5px;
	border: solid 1px #B5A586;
	background-color: white;
	width: 95%;
	height: 20px;
}

.automated-breakdown > span {
	margin-left: 0px;
	font-size: 11px;
	font-family: verdana;
	color: #333333;
}

.automated-item {
	float: left;
	display: inline-block;
	height: 100%;
	margin-bottom: 2px;
	font-size: 11px;
	font-family: verdana;
	text-align: center;
	vertical-align: middle;
	color: #333333;
}

/****** Graph ends **/

.drag2 {
	background-color: #FFCC00;
	opacity: 0.8;
}

.float-panel-right-close {
	margin-left: 5px;
	color: #444444;
	font-size: 16px;
	font-family: verdana;
}
.float-panel-right-close:hover {
    color: #2A5E91;
    text-decoration: underline;
}

.modified-label {
	float: top;
	z-index: 1000;
	position: fixed;
	display: inline-block;
	margin-top: 30px;
	font-family: verdana;
	font-size: 11px;
	font-weight: italic;
	color: #0000FF;
	background-color: #CCFFFF;
    	-moz-box-shadow:    1px 3px 2px 1px #E4EFF2;
    	-webkit-box-shadow: 1px 3px 2px 1px #E4EFF2;
    	box-shadow:         1px 2px 5px 2px #688896;
    	border-radius: 0px 0px 2px 0px;
	padding-left: 3px;
	padding-right: 3px;
	margin-left: 30%;
}

.modified-label-active {
	background-color: #FFF719;
}

.tm-summary {
	position: fixed;
	margin-top: 210px;
	font-size: 11px;
	font-family: verdana;
	padding: 5px;
	border-radius: 5px 5px 0 0;
	border-left: 1px solid;
	border-right: 1px solid;
	border-top: 1px solid;
	border-bottom: 1px solid;
	right: 0;
	-moz-transform: rotate(270deg);  /* FF3.5+ */
    	-o-transform: rotate(270deg);  /* Opera 10.5 */
  	-webkit-transform: rotate(-90deg);  /* Saf3.1+, Chrome */
    	filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);  /* IE6,IE7 */
    	-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)"; /* IE8 */
	-moz-transform-origin: 100% 100%;
	-o-transform-origin: 100% 100%;
	-webkit-transform-origin: 100% 100%;
	color: #2A5E91;
	background-color: #DDDDDD;
	border: 1px solid #DDDDDD;
	z-index: 1;
}

.tm-summary:hover {
	border: 1px solid #FFFFFF;
	background-color: #2A5E91;
	color: #CCCCCC;
}

.testcases {
	position: fixed;
	margin-top: 55px;
	font-size: 11px;
	font-family: verdana;
	padding: 5px;
	border-radius: 5px 5px 0 0;
	border-left: 1px solid;
	border-right: 1px solid;
	border-top: 1px solid;
	border-bottom: 1px solid;
	right: 0;
	-moz-transform: rotate(270deg);  /* FF3.5+ */
    	-o-transform: rotate(270deg);  /* Opera 10.5 */
  	-webkit-transform: rotate(-90deg);  /* Saf3.1+, Chrome */
    	filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);  /* IE6,IE7 */
    	-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)"; /* IE8 */
	-moz-transform-origin: 100% 100%;
	-o-transform-origin: 100% 100%;
	-webkit-transform-origin: 100% 100%;
	color: #2A5E91;
	background-color: #DDDDDD;
	border: 1px solid #DDDDDD;
	z-index: 1;
}

.testcases:hover {
	border: 1px solid #FFFFFF;
	background-color: #2A5E91;
	color: #CCCCCC;
}

.filters {
	margin-top: 145px;
	position: fixed;
	font-size: 11px;
	font-family: verdana;
	padding: 6px;
	border-radius: 5px 5px 0 0;
	right: 0;
	-moz-transform: rotate(270deg);  /* FF3.5+ */
    	-o-transform: rotate(270deg);  /* Opera 10.5 */
  	-webkit-transform: rotate(-90deg);  /* Saf3.1+, Chrome */
    	filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);  /* IE6,IE7 */
    	-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)"; /* IE8 */
	-moz-transform-origin: 100% 100%;
	-o-transform-origin: 100% 100%;
	-webkit-transform-origin: 100% 100%;
	color: #2A5E91;
	background-color: #DDDDDD;
	z-index: 1;
}

.filters:hover {
	border: 1px solid #FFFFFF;
	background-color: #2A5E91;
	color: #CCCCCC;
}

/* Filters */


.tc-filter > span, .col-filter > span {
	padding: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	text-align: center;
	display: inline-block;
	width: 100%;
	font-size: 16px;
	font-family: verdana;
	background-color: #D5DFE6;
	cursor: pointer;
}

.tc-filter > span:hover, .col-filter > span:hover {
	color: #FFFFFF;
	background-color: #99B7C9;
}

/* Lists */

.selector {
	display: none;
	background-color: #FFFFFF;
	padding: 0px;
	padding-right: 2px;
	margin-right: 5px;
}

.selector ul {
	padding: 0;
	padding-left: 20px;
}

.selector .parent {
	border-left: 1px solid #EEEEEE;
	list-style: none;
	width: 100%;
}

.selector .parent div {
	display: inline-block;
	vertical-align: bottom;
	padding-top: 2px;
	width: 100%;
	border-bottom: 1px solid #EEEEEE;
}

.selector .leaf {
	border-left: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
	display: inline-block;
	width: 100%;
}

.selector li span {
	margin-left: 5px;
	display: inline-block;
	width: 90%;
    	font-family: verdana;
	font-size: 11px;
}

.selector input{
	right: 2px;
	position: absolute;
}

.automated {
	background-color: #E2D5ED;
}

.automated-row {
	//background-color: #E2D5ED;
}

.automated-cell {
	color: #F7D9FF !important;
}
