/* top panel component */
.search-sort {
    list-style-type: none;
    text-decoration: none;
    margin-top: 2%;
    width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.add-a, .sort-a {
    font-family: Arial;
    font-size: 14px;
    color: #336C89;
	float: left;
}

.expand-a {
    font-family:"Lucida Sans Unicode";
    font-size: 12px;
    color: #463A2D;
    float: right;
    color: #00527A;
}

.link-disabled {
        color: #BBBBBB !important;
        cursor: default !important;
}

.br {
    display: block;
    margin-top: 1px;
}

.tc-name-search {
    margin-top: 2%;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
}

.search-input {
    font-size: 16px;
    font-family:"Arial";
	width: 100%;
}

.tc-mark {
    background-color: yellow;
}

.match {
}

.tc-panel {
}

/* list-tree components */
.ul {
    margin: 0;
}

.tc-ul-main {
	margin: 0;
	padding: 0;
}

.drag {
    color: white !important;
    background-color: #FFC569 !important;
}

.expander {
    display: inline-block;
    float: left;
    margin-right: 1%;
    cursor: pointer;
    color: #667480;
    padding-left: 2%;
    font-family: Courier New;
    font-size: 12px;
    font-weight: bold;
    margin-top: 2px;
	padding-top: 5px;
}

.tc-parent {
    list-style: none;
    //color: #856731;
    border: 1px solid #D5DFE8;
	margin: 8px;
	border-radius: 6px;
}

.tc-parent-label{
    display: block;
    border-bottom: 1px solid #D5DFE8;
	color: #4A5763;
    font-family: verdana;
    width: 100%;
    font-size: 12px;
    background-color: #D5DFE8;
    margin-right: 2px;
	min-height: 26px;
	padding-top: 5px;
}

.tc-name {
	float: left;
}

.child-count {
	margin-left: 5px;
	float: left;
}

.tm-ref {
	margin-left: 5px;
	font-size: 12px;
	color: #CC7A00;
	cursor: pointer;
	text-decoration:none;
	//float: right;
}

.tm-ref-0 {
	color: #CC7A00 !important;
}

.tc-leaf {
    list-style: none;  
    font-family: verdana;
    border: 1px solid #FAFCFD;
    padding-left: 5px;
    font-size: 12px;
    margin-right: 2px;
    //color: #41756A;
	//width: 100%;
	min-height: 26px;
	margin: 5px;
	padding-top: 4px;
	padding-bottom: 4px;
	//background-color: #FFFFFF;
	//white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tc-leaf:hover {
	//background-color: #FFCC00;
}

.tm-popup {
	min-width: 200px;
	min-height: 40px;
	position: absolute;
	float: right;
	z-index: 1;
	border: 1px solid #999999;
	border-radius: 4px;
	background-color: #D6EFEF;
    	-moz-box-shadow:    1px 3px 2px 1px #E4EFF2;
    	-webkit-box-shadow: 1px 3px 2px 1px #E4EFF2;
    	box-shadow:         1px 2px 5px 2px #688896;
}

.tm-popup ul {
	padding: 3px;
}

.tm-popup li {
	color: blue;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;
}

.tm-popup li a {
	color: #544333;
	cursor: pointer;
}

.tm-popup li a:hover {
	color: blue;
    text-decoration: underline !important;
}

.tm-title {
	margin-top: 5px;
	margin-left: 5px;
	color: #003D5C;
	font-size: 15px;
	font-family: Verdana;
}

.no-tm {
	margin-left: 5px;
	margin-right: 3px;
	color: #666666;
	font-size: 11px;
	font-style: italic;	
}

a {
	color: #444444;
	text-decoration: none !important;
	cursor: pointer;
}


a:hover {
    color: #2A5E91;
    text-decoration: underline;
}

/* Popup Dialog components */

.popup-menu {
    -moz-box-shadow:    1px 3px 2px 1px #E4EFF2;
    -webkit-box-shadow: 1px 3px 2px 1px #E4EFF2;
    box-shadow:         1px 2px 5px 2px #688896;
    background-color:   #DDDDDD;
    width: 15% !important;
    z-index: 1000;
}

.popup-menu span {
    font-size: 14px;
    font-family: verdana;
    display: inline-block;
    width: 100%;
    text-decoration: none;
    margin-bottom: 2px;
    margin-right: 10px;
    padding-left: 2px;
    outline: 0;
}

.popup-menu span:hover {
    color: #FFFFFF;
    background-color: #3A7BC2;
}

.loader {
    margin-top: 5px;
}
